:root {
	/* Catppuccin colors */
	--crust: #11111b;
	--mantle: #181825;
	--base: #1e1e2e;
	--text: #cdd6f4;
	--flamingo: #f2cdcd;
	--sky: #89dceb;
	--green: #a6e3a1;
	--maroon: #eba0ac;
	--red: #f38ba8;
	--mauve: #cba6f7;
}

#header {
	display: flex;
	justify-content: center;
	background-color: var(--base);
	margin: 5px;
	border-radius: 10px;
}

#header-text {
	font-family: "Courier New", Courier, monospace;
	font-size: 40pt;
	letter-spacing: 5px;
	background: linear-gradient(var(--red), var(--mauve));
	background-clip: text;
	color: transparent;
	padding: 10px;
}

#nav {
	display: flex;
	background-color: var(--mantle);
	padding: 10px;
	border: 4px solid var(--base);
}

#nav > li {
	list-style-type: square;
	padding: 0px 10px;
}

#nau-logo-container {
	display: block;
	overflow: hidden;
}

#nau-logo {
	height: 200px;
	animation: scroll-image 6s linear infinite;
}

form {
	display: flex;
	justify-content: center;
	background-color: var(--mantle);
	padding: 15px;
	margin: 10px 0px;
}

.form-content,
#content p {
	background-color: var(--base);
	border-radius: 10px;
}

.form-content,
.form-content > div,
.form-content > fieldset {
	display: flex;
	flex-direction: column;
}

.form-content {
	padding: 15px;
}

.form-content > div {
	padding: 5px 0px;
}

p.form-header {
	margin: 0px !important;
	padding: 0px !important;
}

#content {
	background-color: var(--mantle);
	padding: 10px;
}

#content p {
	font-style: italic;
	padding: 10px;
	margin: 5px;
}

#content > p {
	font-style: initial;
}

#content.forms {
	display: flex;
	justify-content: center;
}

p::first-letter {
	color: var(--sky);
	font-size: larger;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}

.go-button {
	display: inline-block;
	background-color: var(--base);
	text-transform: uppercase;
	padding: 5px 15px;
	margin: 5px;
	border: 1px solid var(--flamingo);
	border-radius: 2px;
}

.columns {
	display: flex;
}

ul {
	list-style-position: inside;
	margin: 10px;
}

ul > ul {
	list-style-type: square;
	list-style-position: outside;
}

ul > ul > ul {
	/* Source: https://www.flaticon.com/free-icon/cat_616430 */
	list-style-image: url("/img/list-marker-cat.png");
}

ol > ol {
	list-style: none lower-roman inside;
}

ol > ol > li {
	border: 2px dashed var(--sky);
}

div.fake-list > p {
	display: list-item;
}

table {
	width: 100%;
	background-color: var(--base);
	border-radius: 0px 0px 10px 10px;
	padding: 10px;
	border: 2px solid var(--red);
	border-spacing: 5px;
}

caption {
	padding: 5px;
	color: var(--crust);
	background-color: var(--red);
	border-radius: 10px 10px 0px 0px;
}

th,
td {
	border: 1px solid var(--flamingo);
	padding: 2px;
}

@keyframes scroll-image {
	0% {
		transform: translateY(-125%) rotate(-120deg);
	}
	100% {
		transform: translateY(125%) rotate(120deg);
	}
}
